* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body, html {
  height: 100%;
}

body {
  text-rendering: optimizeLegibility;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  letter-spacing: 0.2px;
}
