<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<!-- Enable responsiveness on mobile devices-->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% if page %}
{% if page.description %}
<meta name="description" content="{{ page.description }}" />
{% elif config.description %}
<meta name="description" content="{{ config.description }}" />
{% endif %}
{% elif config.description %}
<meta name="description" content="{{ config.description }}" />
{% endif %}

<title>{% block title %}{{ config.title }}{% endblock title %}</title>

{% block js %}
{% endblock js %}

<!-- CSS -->
{% block css %}
<link rel="stylesheet" href="{{ get_url(path="book.css") | safe }}">
{% endblock css %}

{% block extra_head %}
{% endblock extra_head %}