<!DOCTYPE html>
<html lang="en">

<head>
    {% include "partials/head.html" %}
</head>

<body>
    <div class="menu">
        {% include "partials/menu.html" %}
    </div>

    <div class="page">
{% include "partials/header.html" %}

        <div class="page__content">
            {% if config.build_search_index %}
            <div class="search-container">
                <input id="search" type="search" placeholder="Search...">
                <div class="search-results">
                    <div class="search-results__header"></div>
                    <ul class="search-results__items"></ul>
                </div>
            </div>
            {% endif %}
            <div class="book-content">
                {% block content %}
                {% endblock content %}
            </div>
        </div>

        <div class="prev-link">
            {% block prev_link %}
            {% endblock prev_link %}
        </div>

        <div class="next-link">
            {% block next_link %}
            {% endblock next_link %}
        </div>
    </div>

    {% include "partials/js-body.html" %}
</body>

</html>