{% extends "index.html" %}


{% block content %}
    <h1>{{ page.title }}</h1>
    {{ page.content | safe }}
{% endblock content %}

{% block prev_link %}
    {% if page.previous %}
        <a class="previous" href="{{ page.previous.permalink }}"><</a>
    {% else %}
        {# No page before, find the link for the section it's in if there is one #}
        {% set index = get_section(path="_index.md") %}
        {% for subsection in index.subsections %}
            {% for p in subsection.pages %}
                {% if p.permalink == page.permalink %}
                    <a class="previous" href="{{ subsection.permalink }}"><</a>
                {% endif %}
            {% endfor %}
        {% endfor %}
    {% endif %}
{% endblock prev_link %}

{% block next_link %}
    {% if page.next %}
        <a class="next" href="{{ page.next.permalink }}">></a>
    {% else %}
        {# No page after, find the link for the following section #}
        {% set index = get_section(path="_index.md") %}
        {% set found_current = false %}
        {% for subsection in index.subsections %}
            {% if found_current %}
                <a class="next" href="{{ subsection.permalink }}">></a>
                {# no break #}
                {% set_global found_current = false %}
            {% endif %}
            {% for p in subsection.pages %}
                {% if p.permalink == page.permalink %}
                    {% set_global found_current = true %}
                {% endif %}
            {% endfor %}
        {% endfor %}
    {% endif %}
{% endblock next_link %}
